.content {
  margin : 30px;
  width : calc(100% - 60px);
  height : calc(100% - 110px);
  overflow-y:auto;
}

#pagingTable{
  margin-left : auto;
  margin-right : auto;
  width : 70%;
}

.paging{
  margin-left : auto;
  margin-right : auto;
  text-align : center;
}

.paging ul li{
  margin : 0 4px 0 4px;
  list-style-type : none;
  display : inline-block;
  outline : 1px solid #9e9e9e;
  padding : 10px 5px;
  width : 28px;
}

.paging ul li:hover {
  cursor : pointer;
}

.paging ul li.current{
  background-color : #d6d6d6;
}