<!DOCTYPE html>
<html>
    <th:block th:fragment="headerFragment">
        <head>
            <link href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" rel="stylesheet">
            <link href="/css/bootstrap.css" rel="stylesheet">
            <link href="/scss/style.css" rel="stylesheet"/>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

            <title>BackOffice</title>
            <script type="text/javascript">
                function menuClick(obj){
                    var menu = obj;
                    var parent = $("#" + obj).closest("li");
                    var child = $("#" + obj).next();

                    if(parent.hasClass("open")){
                        $(child).animate({height : 'toggle'}, 300, function(){
                            parent.removeClass("open");
                        })
                    }else{
                        $(child).animate({height : 'toggle'}, 300, function(){
                            parent.addClass("open");
                        })
                    }
                }
            </script>
        </head>
    </th:block>
</html>